<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Exhort</title></head><body>
<div style="text-align: center;"><big><big><big><span style="font-family: Arial Black;">Exhort.me</span></big></big></big><br>
<div style="text-align: center;">Motivation for those that are not.<br>
<span style="text-decoration: underline;"></span>
<hr style="width: 100%; height: 2px;">
<div style="text-align: left;">
<p class="MsoNormal"><span style="font-size: 10pt; font-family: &quot;Arial Unicode MS&quot;,&quot;sans-serif&quot;;" lang="EN-US">The
world is getting more and more complex, how does one deal with the ever
changing environment?&nbsp; If you</span><span style="font-size: 10pt; font-family: &quot;Arial Unicode MS&quot;,&quot;sans-serif&quot;;">&#8217;<span lang="EN-US">re lucky you
will grab it by the scuff of the neck and thrive on the
adventure.&nbsp;
However, for the rest of us, it is sometime too overwhelming and we
lose sight
of what we want in life.&nbsp; This wonderful application is to tackle
this
dilemma and motivate you to live a more fulfilling life.</span></span></p>
<p class="MsoNormal"><span style="font-size: 10pt; font-family: &quot;Arial Unicode MS&quot;,&quot;sans-serif&quot;;"><span lang="EN-US"><br>
</span></span></p>


</div>
</div>
</div>

</body></html>
